.l-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);

  &__section {
    display: grid;
    grid-template-areas: $lcr-areas;
    grid-template-columns: $lcr-cols;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    grid-column: 2;

    @media #{$media-mobile} {
      padding-top: 20px;
      grid-template-columns: 20px 1fr 20px;
    }

    &_alt {
      display: grid;
      grid-template: 60px 100px auto / 2fr 1fr 3fr 1fr;
      background: backgroundcolor(main);
      padding-top: 0;

      @media #{$media-phone} {
        grid-template-columns: 20px 1fr 20px;
      }

      .l-content__text {
        color: textcolor(main);
      }
    }

    &_alt-back {
      background: backgroundcolor(main);

      .l-content__text {
        color: textcolor(main);
      }
    }

    &_alt-mobile {
      @media #{$media-desktop} {
        background: backgroundcolor(main);
        .l-content__text {
          color: textcolor(main);
        }
      }
    }
  }

  &__section-inner {
    grid-column: 2;
  }

  &__section-rectangle {
    grid-column: 1;
    grid-row: span 2;
    background: backgroundcolor(secondary);

    @media #{$media-phone} {
      display: none;
    }
  }

  &__info-section-alt {
    grid-column: 3;
    grid-row: 2 / -1;

    @media #{$media-phone} {
      grid-column: 2 / -2;
    }
  }

  &__title {
    color: textcolor(terciary);
    font-size: 5em;
    line-height: 1em;
    margin-bottom: 40px;

    @media #{$media-mobile} {
      font-size: 46px;
      margin-bottom: 10px;
    }

    &_alt {
      color: textcolor(mainAlt);
      font-size: 4em;

      @media #{$media-mobile} {
        font-size: 36px;
      }
    }
  }

  &__subtitle {
    color: textcolor(terciary);
    font-size: 32px;
    margin-top: 0;

    @media #{$media-mobile} {
      font-size: 36px;
      margin-bottom: 20px;
    }

    &_date {
      font-size: 23px;

      @media #{$media-mobile} {
        font-size: 26px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 25px;
  }

  &__label {
    font-size: 16px;
  }

}
