.l-footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: $lcr-areas;
  grid-template-columns: $lcr-cols;
  position: relative;
  height: 100px;
  align-items: center;
  background: backgroundcolor(terciary);
}
