.l-header {
  grid-area: header;
  display: grid;
  grid-template-areas: $lcr-areas;
  grid-template-columns: $lcr-cols;
  grid-template-rows: minmax(200px, 1fr);
  position: relative;
  align-items: center;
  background: backgroundcolor(main);

  @media #{$media-mobile} {
    grid-template-rows: auto;
    padding-top: 100px;
  }

  &__menu {
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    @media #{$media-mobile} {
      grid-template-columns: 1fr;
      grid-column: 1 / -1;
      grid-auto-flow: row;
      justify-content: flex-start;

      &.is-collapsed {
        display: none;
      }
    }
  }

  &__menu-item {
    float: left;

    @media #{$media-mobile} {
      width: 100%;
      margin-bottom: 5px;
      background: #232321;
    }
  }

  &__menu-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      color: #F49527;
      text-decoration: underline;
    }
  }

  &__menu-toggle {
    position: absolute;
    top: 50px;
    right: 8%;
    width: 50px;
    display: inline-block;
    @media #{$media-desktop} {
      display: none;
    }
    @media #{$media-phonexs} {
      width: 40px;
    }

    &.is-collapsed {
      .l-cabecera__toggle-closed {
        display: block;
      }
      .l-cabecera__toggle-open {
        display: none;
      }
    }
  }

  &__toggle-closed {
    display: none;
  }
  &__toggle-open {
    display: block;
  }

}
