.p-index {
  &__mixins-gallery {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
  }

  &__gallery-info {
    grid-column: 1;
  }

  &__gallery {
    grid-column: 1 / -1;
    display: grid;
    grid-template: auto 1fr / repeat(3, 1fr);
    grid-gap: 20px;
  }
}
