$white: #ffffff;
$black: #000000;



$grey: #1D1D1B #777771 #e0e0e0;

$grey500: nth($grey, 1);
$grey600: nth($grey, 2);
$grey700: nth($grey, 3);



$orange: #F49527;

$orange500: nth($orange, 1);



$red: #EB0100;

$red500: nth($red, 1);



$green: #00BE37;

$green500: nth($green, 1);
