extends /bases/_base

block variables
  - var pageClass = 'p-index'

block mainContent
  section.l-content__section.h-pb-mobile-30
    .l-content__section-inner
      h1.l-content__title.h-pb-mobile-30
        | Pugjs project example

      .l-content__bloque-texto
        p.l-content__text
          | Lorem ipsum cogito ergo sum.


  section.l-content__section.l-content__section_alt.h-pb-desktop-60
    .l-content__section-rectangle
    .l-content__info-section-alt
      h1.l-content__title
        | Gulpjs has a nice syntax
      p.l-content__text
        | Lorem ipsum Excepteur reprehenderit enim deserunt ullamco aliquip aliquip in amet ut non enim culpa.
        | Nulla ex eu sit magna culpa velit in anim ullamco duis ipsum.
        | Pariatur et cillum aliquip duis do cillum pariatur aute.
        | Sit velit Lorem consequat ea reprehenderit id. Deserunt nostrud veniam fugiat excepteur do duis mollit ipsum magna.

      .p-welcome__contenedor-boton
        a.c-btn Click here to show more


  section.l-content__section
    .l-content__section-inner.p-index__mixins-gallery
      .p-index__gallery-info
        h1.l-content__title
          | Mixins
        h2.l-content__subtitle
          | Img-text
        p.l-content__text
          | Lorem ipsum Excepteur reprehenderit enim deserunt ullamco aliquip aliquip in amet ut non enim culpa.
          | Nulla ex eu sit magna culpa velit in anim ullamco duis ipsum.
          | Pariatur et cillum aliquip duis do cillum pariatur aute.
      .p-index__gallery
        +img-text-btn(
          getImage('felix-mittermeier.jpg'),
          'Lorem ipsum',
          'cogito ergo sum'
        )(class="p-index__gallery-big-img")
        each image in ['eric-muhr', 'amanda-klamrowski', 'jimmy-chang']
          +img-text({
            srcImg: getImage(`${image}.jpg`),
            title: 'Lorem ipsum',
            subtitle: 'cogito ergo sum'
          })(class="p-index__gallery-img")
