-
  const menu = [
    {
      link: '/',
      text: 'Home'
    },
    {
      link: 'blocks_examples.html',
      text: 'Blocks Examples'
    },
    {
      link: 'exercise.html',
      text: 'Exercise'
    },
  ]
